@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hero Section  *****************************************************************************/
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    top: -128px;
}

#services-videos:hover {
    
}

.h-hero {
    @apply h-[calc(100vh+128px)];
}

.min-h-hero {
    @apply min-h-[calc(100vh-128px)];
}

.h-screen-nav {
    @apply h-[calc(100vh-80px)];
}

.hero-font1 {
    font-size: 5vw ;
}

.hero-font2 {
    font-size: 2vw;
}

.upper-text > div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    transform: translate(0, 100%);
    bottom: 0;
}

.lower-text > div {
    animation: showBottomText 0.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
}

#DesqueLogo {
    width: 90px !important;
    height: 100% !important;
    /* display: block; */
    /* overflow: hidden; */
    /* margin: 0 auto; */
}


/* Nav Bar  *********************************************************************************/
.nav-scrolled1 {
    color: #202124;
    background-color: #16b2c3;
    transition: background 200ms ease-in;
}

.nav-scrolled2 {
    color: #ffffff;
    background-color: #8518a3;
    transition: background 200ms ease-in;
}

.service-scrolled1 {
    transition: transform 150ms ease-in;
    transform: translateY(100%);
    z-index: -50;
}

.service-scrolled2 {
    transition: transform 100ms ease-in;
    transform: translateY(0);
    z-index: 10;
}

.nav-scrolled {
    height: 80px;
    transition: all 200ms ease-in;
}


.logo2-animation {
    animation: logo2-anim 400ms ease-in 700ms forwards; 
}

.logo2-animation2 {
    animation: logo2-anim2 500ms ease-in  forwards ; 
}

.logo2 {
    /* color: #7e7e7e; */
    opacity: 0;
    animation: reveal 4s infinite;
}

.dlogo {
    margin-left: -333px;
    animation: slidein 4s infinite;
}

/* .links:hover::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transform: translateY(calc(100% + 10px));
    transition: transform .6s cubic-bezier(.19,1,.22,1);
}

.links::after {
    content: '';
    position: relative;
    
    transition: transform .6s cubic-bezier(.19,1,.22,1);
} */

.links::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    bottom: -2px;
    left: 0;
    background-color: #ffffff;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.links:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.hamburger {
    /* background-color: red; */
    /* box-sizing: content-box; */
    /* display: none; */
    width: 25px;
    height: 12px;
    cursor: pointer;
}

.hamburger .bar {
    width: 100%;
    height: 2px;
    position: absolute;
    border-radius: 3px;
    background-color: #8518a3;
}

.hamburger .bar:first-child {
    top: 0;
    transition: top 0.2s 0.15s, transform 0.3s;
 
}
.hamburger .bar:last-child {
    bottom: 0;
    transition: bottom 0.2s 0.15s, transform 0.3s;
}

body.open .hamburger .bar:first-child {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: top 0.2s, transform 0.3s 0.1s;
}

body.open .hamburger .bar:last-child {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
    transition: bottom 0.2s, transform 0.3s 0.1s;
}

.hamburger-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #16b2c3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transform: translateY(-100%);
    transition: all 0.5s cubic-bezier(.14,.65,.46,.9);
}

.hamburger-menu-active {
    transform: translateY(0);
    /* transition: transform 0.3s ease-in; */
}



@keyframes logo2-anim {
    0% {
        
        opacity: 0;
        
    }

    100% {

        opacity: 1;
    }
}

@keyframes logo2-anim2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -333px;
    }
    25% {
        margin-left: -166px;
    }
    50% {
        margin-left: 0px;
    }
    100% {
        margin-left: 0px;
    }
}
@keyframes reveal {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes showTopText {
    0% {
      transform: translate3d(0, 100%, 0);
    }
    40%, 60% {
      transform: translate3d(0, 50%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
}

@keyframes showBottomText {
    0% {
      transform: translate3d(0, -100%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }    
    100% {
        opacity: 1;
    }
}


/* Drag Curor  ****************************************************************/
.drag-cursor {
    width: 90px;
    height: 70px;
    border: 3px solid white;
    border-radius: 100%;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    position: fixed;
    pointer-events: none;
    z-index: 10;
    top: 0;
    left: 0;
    transform: translate(calc(-50% + 15px), -50%);
    display: none;
}

.drag-cursor::before {
    color: white;
    font-size: 20px;
    content: ' DRAG';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* .shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to top, #202124, transparent);
    z-index: 10 ;
}  */

.shadow1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to top, #8518a3, transparent);
    z-index: 10 ;
}


/* About Section *******************************************************************************/
.curtain {
    /** create the "split" background **/
    background-image: linear-gradient(to bottom, #ffffff 50%, #202124 50%);
}

.curtain::after {
    content: "";
    display: block;
    min-height: 100vh;
   
}


/* Carousel Section  *****************************************************************************/
.swiper-slide-active {
    /* transform: scale(1.2); */
    animation: fadeIn 0.5s ease-in-out;
    
}

.swiper-slide-active .brand-details {
    display: block;
}

.swiper-slide-active img.swiper--img1 {
    content: url('https://desque.sfo3.cdn.digitaloceanspaces.com/desque/Interact.png');
    z-index: -1;
    
}

.swiper-slide {
    -webkit-background-clip : padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.brand-details::before,
.brand-details::after {
    content: '';
    width: 70%;
    position: absolute;
    display: block;
    height: 1px;
    background: #16b2c3;
    left: 15%;
    
    
}

.brand-details::before {
    top: -10px;
}

.brand-details::after {
    bottom: -10px;
}



